p {
    color: red;
    
}

body {
    background: url(./images/Gallery_20240921_080756.png);
    background-repeat: no-repeat;
    height: 130vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container {
    color:yellow;
    font-size: 30px;

    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    font-size: 30px;
    border: none;
    border-radius: 2px;
    padding: 5px 12px;
    background-color: yellow;
    
    
}

.price{
    margin-top: 270px;
    align-items: center;
    color: blue;
    margin-left: 50px;
}

button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 20px;
}